---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

header {
  display: none;
}

body {
 background-image: url("https://www.simbin.com/images/simbin/1_full.jpg?gtr3");
 background-color: #cccccc;
}

#container {
    min-height: 595px;
    background: none;
}

h1, h2, p, sup {
 color: white; 
  font-family: sans-serif;
}
